@import url('https://fonts.googleapis.com/css?family=PT+Sans|Raleway');


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto Oxygen-Sans,Ubuntu,Cantarell,“Fira Sans”,“Droid Sans”,Helvetica Neue,Helvetica,"\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3",Hiragino Kaku Gothic Pro,"\30E1\30A4\30EA\30AA",Meiryo,"\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF",Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 12px;  
  background: #FFFF;
}
html {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3 {
  margin: 0;
}

a {
  color: #434343;
  text-decoration: none;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;  
}

/* Gray background overlay */
.overlay {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: rgba(72, 75, 92, 0.6);
  width: 100%;
  height: 100vh;
}

/* create page */
.create {
  background-image: url('./images/map.jpg');
  background-size: cover;
  background-position-x: center;
}

/* create form */
.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
  justify-content: space-between;
  width: 65vw;
}

/* button */
.button {
  background: linear-gradient(90deg, rgba(0,198,174,1) 0%, rgba(0,174,198,1) 97%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 70vw;
  height: 6vh;
  border-radius: 18px;
  color: white;  
  border: none;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
}

.create-button {
  width: 80%;
  margin-bottom: 0;
}

select.input {  
  width: 100%;
  border: none;  
  border-bottom: 2px solid white;
  padding: 8px;
}

option {
  background: black;
}

/* travel details */

.travel-info h2 {
  text-align: center;
}

.travel-info {
  height: 80vh;    
}

.travel-act {
  margin-top: 24vh; 
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
}

.activities-add {
  position: fixed;
  width: 100%;  
  background: white;
}

.travel-activities-list {    
  position: fixed;
  top: 35vh;
  width: 100%;     
}

.travel-activities-list ul {
  height: 300px;
  overflow: scroll; 
}

.owner-div {
  position: fixed;
  background: white;
  width: 100%;
  top: 25vh;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;      
}

.info-card {
  padding: 15px;  
  display: flex;
  height: 160px;
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
}


.info-card img {
  width: 115px;
  height: 150px;
  border-radius: 8px;
  margin-right: 40px;
}

.button-container {
  position: fixed;
  bottom: 8vh; 
  width: 100%;
  height: 10vh;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;  
}

/* travels card */
.card-container {
  width: 100%;
  margin-bottom: 25px;  
  display: inline-block;
}

.card-container img {
  width: 100%;
  border-radius: 8px;
}

.card-info {
  padding-left: 5px;  
}

/* travels container */
.travels-cotainer {
  width: 90vw;
  margin: 0 auto;
}

.list-container {    
  margin: 0 auto;
  width: 100%;
  column-count: 2;
  column-gap: 15px;     
  margin-bottom: 10vh;
}

.directions {
  display: flex;  
  margin-top: 5px;
  align-items: center;
}

#marker {
  font-size: 12px;
  margin-right: 5px;
}

.directions p {
  margin-right: 10px;  
}


/* search bar */
.search-bar {  
  background: white; 
}

.search-bar input {  
  background: #EFEFEF;
  display: block;
  width: 100%;
  margin: 20px auto;  
  border: none;
  height: 5vh;
  margin-bottom: 20px;
}

.search-bar input::placeholder, .activities-form input::placeholder {
  color: #8e8e8e;;  
  font-weight: 700
}

/* navbar */
.nav-bar {
  position: fixed;
  bottom: 0;
  margin-top: 10vw;
  background: white;
  min-height: 8vh;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  align-items: center;
  box-shadow: 0 -1px 6px #9999;
}

.fas, .far {
  /* color: #00C6AE; */
  font-size: 22px;  
}

/* activities */
.activities-filter {
  display: flex;  
  align-items: center;
  margin-bottom: 20px;
  overflow-x: scroll;
  overflow-y: hidden;  
  white-space:nowrap
}

ul {
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
}

li {
  background: url('./images/camper.png') no-repeat left ;
  background-size: 5%;
  margin-bottom: 10px;
  padding-left: 30px;
  font-size: 14px;
}

.activities-form input {
  background: #EFEFEF;
  display: block;
  width: 80%;
  margin: 20px auto;  
  border: none;
  height: 5vh;
  margin-bottom: 20px;
  margin: 0;
  height: 100%;
}

.activities-form {
  display: flex;
  width: 80%;
  margin: 20px auto;
  align-items: center;
  height: 40px;
}

.activities-form button {
  width: 20%; 
  height: 100%; 
  border: none;
  color: white;
  letter-spacing: 0.5px;
  background: rgba(0,170,198,1);
}

.activities-filter p {
  padding: 8px;  
  color: white;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  margin-right: 5px;
  border-radius: 8px; 
}

.all-tag {
  background: #434343;
  width: 84px;
}

/* notifications  */
.fa-bell, .fa-envelope-open {
  position: relative;
}

.badge {
  position: absolute;
  background: #00C6AE;
  border-radius: 100%;
  width: 80%;
  text-align: center;
  top: -12px;
  left: 10px;  
  color: white;
  font-size: 16px;
  padding: 1vw;
  font-weight: bold;
}

/* loader */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #00C6AE;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* auth */

.auth {
  background:url('./images/travel.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth button {
  width: 100%;
}

.auth h2 {
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.auth form {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 50vh;
}

.user {
  width: 100%;  
}

.user p {
  color: white;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.user a {
  color: #00C6AE;
  font-weight: bold;
}

/* inputs */
input {
  width: 100%;  
  border: none;   
  box-sizing: border-box;
  padding: 10px;   
  background: none;   
}

.auth input::placeholder {  
  letter-spacing: 1px;
  font-size: 12px;
}

.user-input {  
  padding-left: 20px;
  position: relative;  
  background: white;
  border-radius: 8px;
}

.input {
  background: none;
  color: #fff;
  border-bottom: 2px solid white;  
  position: relative;
  font-size: 14px;
}

.input::placeholder {
  color: white;
}

.input-user, .fa-lock {
  position: absolute;
  left: 8px;    
  top: 10px;  
  margin-right: 5px;
  font-size: 14px;
}


/* profile */

.user-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;  
  min-height: 15vh; 
  padding-bottom: 10px; 
}

hr {
  width: 80%;
  margin: 0 auto;
}


.user-banner img {
  width: 20%;
  border-radius: 100%;
}

.owned-travels {
  display: flex;  
  align-items: center;
  margin-bottom: 20px;
  overflow-x: scroll;
  overflow-y: hidden;  
  white-space:nowrap;    
  height: 25vh;
  padding: 5px;
}

.owned-travels img {
  width: 115px; 
  height: 80%; 
}

.travels-scroll {
  margin-right: 10px;
  height: 100%;
}

.owned-travels img {
  border-radius: 8px;  
}

.profile {
  padding: 10px;  
  margin-bottom: 10vh;
}

.my-travels-tittle {
  margin: 10px;
}

/* notifications  */
.notifications {
  display: flex;   
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.notifications-card {  
  display: flex;    
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  box-shadow: 0 -1px 6px #9999;
  padding: 20px;
  border-radius: 8px;
}

.notification-info {
  width: 50%;
}

.not-img {
  width: 35%;  
}

.not-img img {
  width: 100%;
  border-radius: 8px;
}

.notification-buttons {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
}

.notifications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.request {
  border: none;
  background: none;
}

.nav-bar-section {
  position: relative;
}

img.spinner {
  width: 50px;
  height: 50px;    
  position: absolute;
  animation: run 3s linear;
  bottom: 20px;
}

@keyframes run {
  0% { left: 20%;}
  20% {left: 35%}
  40% {left: 45%;}
  60%{ left : 55%;}
  80%{ left: 65%;}
  /* 90%{ left: 75%} */
  100%{ left: 75% }
}

.green-button {  
  border-radius: 2px;
  background: #A5CC80;
}

.red-button {
  border-radius: 2px;
  background: #d9534f;
}

.error-container p {
 color: white;
}

.hasError {
  background: url('./images/background.jpg');
  background-size: cover;
}

.bold {
  font-weight: bold;
}

.agree i {
  color: #A5CC80;
}

.deny i {
  color: #d9534f;
}

