@import url('https://fonts.googleapis.com/css?family=PT+Sans|Raleway');


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto Oxygen-Sans,Ubuntu,Cantarell,“Fira Sans”,“Droid Sans”,Helvetica Neue,Helvetica,"\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3",Hiragino Kaku Gothic Pro,"\30E1\30A4\30EA\30AA",Meiryo,"\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF",Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 12px;
}
html {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3 {
  margin: 0;
}

a {
  color: #434343;
  text-decoration: none;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;  
}

/* Gray background overlay */
.overlay {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: rgba(72, 75, 92, 0.6);
  width: 100%;
  height: 100vh;
}

/* create page */
.create {
  background-image: url('./images/map.jpg');
  background-size: cover;
  background-position-x: center;
}

/* create form */
.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
  justify-content: space-between;
  width: 65vw;
}

/* button */
.button {
  background: #00C6AE;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 70vw;
  height: 6vh;
  border-radius: 18px;
  color: white;
  margin-bottom: 7vh;
  border: none;
}

.create-button {
  width: 80%;
  margin-bottom: 0;   
}

/* inputs */
input {
  width: 100%;  
  border: none;   
  box-sizing: border-box;
  padding: 10px;
}

.input {
  background: none;
  color: white;
  border-bottom: 2px solid white;  
}

input::placeholder {
  color: white;
}

.select {
  background: black;
}

/* travel details */
.travel-info {
  background: white;
  position: fixed;
  bottom: 0;
  min-height: 70vh;
  width: 100vh;
  border-radius: 30px 30px 0 0;
  box-shadow: 2px; 
  box-shadow: 0px 0px 6px #999;
}

/* travels card */
.card-container {
  width: 100%;
  margin-bottom: 25px;  
  display: inline-block;
}

.card-container img {
  width: 100%;
  border-radius: 8px;
}

.card-info {
  padding-left: 5px;  
}

/* travels container */
.travels-cotainer {
  width: 90vw;
  margin: 0 auto;
}

.list-container {  
  padding-bottom: 10vh;  
  margin: 0 auto;
  width: 100%;
  column-count: 2;
  column-gap: 15px;   
}


/* search bar */
.search-bar {  
  background: white; 
}

.search-bar input {  
  background: #EFEFEF;
  display: block;
  width: 100%;
  margin: 20px auto;  
  border: none;
  height: 5vh;
  margin-bottom: 20px;
}

.search-bar input::placeholder {
  color: #8e8e8e;;  
  font-weight: 700
}

/* navbar */
.nav-bar {
  position: fixed;
  bottom: 0;
  background: white;
  min-height: 8vh;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  align-items: center;
  box-shadow: 0 -1px 6px #9999;
}

.fas, .far {
  /* color: #00C6AE; */
  font-size: 22px;  
}

/* activities */
.activities-filter {
  display: flex;  
  align-items: center;
  margin-bottom: 20px;
  overflow-x: scroll;
  overflow-y: hidden;  
  white-space:nowrap
}

.activities-filter p {
  padding: 8px;
  min-width: 84px;
  color: white;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  margin-right: 5px;
  border-radius: 8px; 
}

.all-tag {
  background: #434343;
}